.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/****** navbar styles *****/

.navbar-dark .navbar-brand {
	color: black !important;
}
.navbar {
	box-shadow: none !important;
	font-weight: 400 !important;
}

.default-color {
	background-color: #fff !important;
}
.navbar.navbar-dark .breadcrumb .nav-item .nav-link,
.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
	color: black !important;
	font-size: 20px;
	transition: 0.35s;
}
.navbar.navbar-dark .navbar-toggler-icon {
	cursor: pointer;
	background-image: url("../src/assets/images/hamberger.jpeg") !important;
}
.cart-circle {
	background: black;
	width: 25px;
	height: 25px;
	border-radius: 100px;
	line-height: 26px;
	text-align: center;
	display: block;
	margin-left: 15px;
	float: right;
	color: white;
	font-size: 15px;
	font-weight: 600;
}
.scroll {
	background-color: "green";
}
/******   Login Component styles ******/
.title-wrapper {
	margin-bottom: 2.5rem;
}
.page-title {
	display: block;
	margin: 0;
	font-size: 60px;
	font-weight: 700;
	letter-spacing: -2.5px;
	line-height: 1.3;
	text-transform: none;
}
.breadcrumbs {
	padding: 30px 0 0;
	font-size: 12px;
}
.form-group {
	margin-bottom: 1rem;
}
.form-group label {
	display: block;
	margin: 0;
	padding: 0.25rem 0 0.5rem;
	font-size: 1rem;
	line-height: 1.125rem;
	font-weight: normal;
	text-decoration: none;
	border-bottom: 0 none;
	color: #000;
}
.required {
	font-size: 140%;
	color: #ed3737;
}
[type="text"],
[type="password"],
[type="email"],
[type="tel"],
[type="url"],
[type="number"],
[type="search"],
textarea,
select {
	height: 3rem;
	padding: 0 1rem;
	font-size: 1rem;
	font-weight: inherit;
	outline: none;
	width: 100%;
	max-width: 100%;
	border-radius: 0;
	box-shadow: none;
	background-color: transparent;
	border: 2px solid #e7e7e7;
	color: #3a3a3a;
	-webkit-appearance: none;
	appearance: none;
	transition: color 0.3s ease, background-color 0.3s ease,
		border-color 0.3s ease;
}
input,
button,
select,
optgroup,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
button,
input {
	overflow: visible;
}
.site-account {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}
.form-group .recover {
	font-size: 16px;
	font-weight: 400;
}

.btn.btn-primary {
	border-width: 2px;
	color: #fff !important;
	border-color: #000 !important;
	background-color: #000 !important;
}
.w100 {
	width: 100% !important;
	max-width: 100% !important;
}
.btn {
	overflow: hidden !important;
	position: relative !important;
	z-index: 1 !important;
	display: inline-block !important;
	text-decoration: none !important;
	cursor: pointer !important;
	outline: none !important;
	text-align: center !important;
	white-space: nowrap !important;
	vertical-align: middle !important;
	line-height: 1 !important;
	border-radius: 0 !important;
	background-color: transparent !important;
	border: 1px solid #e7e7e7 !important;
	color: #000;
	font-family: "Josefin Sans", sans-serif;
	font-weight: 700 !important;
	letter-spacing: 1px !important;
	text-transform: uppercase !important;
	font-size: 12px !important;
	padding: 22.8px 31.2px 20.52px !important;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: color 1s ease, background-color 1s ease, border-color 1s ease;
	box-shadow: none !important;
}
.form-divider {
	position: relative;
	width: 100%;
	margin: 14px 0;
	text-align: center;
}
.form-divider:before {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	content: " ";
	width: 100%;
	height: 1px;
	background: #e1e1e1;
}
.form-divider span {
	position: relative;
	z-index: 10;
	display: inline-block;
	font-size: 18px;
	font-weight: 400;
	padding: 0 19px;
	text-transform: lowercase;
	color: #000;
	background-color: #fff;
}
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	transform: translateY(0%);
	transition: 0.3s ease-in-out;
}

.dropdown-content a {
	color: black;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;

	transform: translateY(-100%);
}
.fixed {
	position: fixed;
}
/****** Footer Styles *******/
#site-footer.is-reveal {
	z-index: -2;

	bottom: 0;
	left: 0;
	right: 0;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
.site-footer {
	background-color: #fff;
	color: #858585;
	font-size: 19px;
	font-weight: 300;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}
.footer__widget {
	padding-bottom: 2.5rem;
}
.footer__widget .linklist {
	list-style: none;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0;
}
.footer__widget .linklist li {
	font-size: 22px;
	margin-bottom: 0.25rem;
}
.footer__widget .linklist li a {
	font-size: 19px;
}
.site-footer a {
	color: #000;
}
.col-p-17 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 17%;
	flex: 0 0 17%;
	max-width: 17%;
}
input[type="radio"],
input[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}
.hide {
	display: none !important;
}
.footer__widget .heading {
	letter-spacing: -1px;
	color: black;
}
.size-24 {
	font-size: 24px !important;
}
.footer__widget .heading label {
	position: relative;
	margin-bottom: 0;
	display: block;
}
.footer__widget .newsletter p {
	font-size: 18px;
	margin-bottom: 0.9375rem;
}
.site-footer .text-right .products li,
.site-footer .text-right .social-icons,
.site-footer .text-right .newsletter .form-group {
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.footer__widget .newsletter .form-control {
	max-width: 250px !important;
	min-height: 3.125rem !important;
	font-size: 1rem;
	border-right-width: 1;
	color: #858585;
	font-weight: 300;
}
.footer__widget .newsletter .btn {
	padding: 0 1.4375rem !important;
	min-height: 3.125rem !important;
	max-height: 3.125rem !important;
	line-height: 4 !important;
	color: #fff !important;
	border-color: #000 !important;
	background-color: #000 !important;
	-ms-flex: 0 0 auto !important;
	flex: 0 0 auto !important;
}
.site-overlay {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	pointer-events: none;
	background: rgba(0, 0, 0, 0.3);
	z-index: 300;
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1),
		visibility 1s steps(1, end);
	transition-delay: 0s;
}
/* .mainpage {
	overflow-x: scroll;
	height: 100%;
	background-color: white;
} */

/********* Home carousel styles *******/
.slider-slide > img {
	width: 100%;
	display: block;
	height: 700px;
}
.chbut {
	margin-left: 50px;
	background-color: white !important;
	width: 50px;
	height: 50px;
	border: 1px solid grey !important;
	border-radius: 100px;
	-webkit-box-shadow: 8px 7px 8px 0px rgba(0, 0, 0, 0.09);
	-moz-box-shadow: 8px 7px 8px 0px rgba(0, 0, 0, 0.09);
	box-shadow: 8px 7px 8px 0px rgba(0, 0, 0, 0.09);
}

.img-hover-zoom {
	height: 400px; /* [1.1] Set it as per your need */
	overflow: hidden; /* [1.2] Hide the overflowing of child elements */
	border: #f5f1f1 solid 1px;
	width: 100%;
	border-radius: 60px;
	box-shadow: 5px 5px 5px 5px #eae4e4;
}
.bg-img {
	background-image: url("../src/assets/images/chair.jpg");
	background-repeat: no-repeat;

	width: 100%;
	background-position: center;
	padding: 0px;
}
.img-hover-zoom--slowmo img {
	height: 460px;
	transform-origin: 30% 45%;
	transition: transform 5s, filter 3s ease-in-out;
	filter: brightness(100%);
}

/* The Transformation */
.img-hover-zoom--slowmo:hover img {
	height: 460px;
	filter: brightness(100%);
	transform: scale(2);
}
.builder-section .banner__text {
	padding: 0;
	line-height: 1.2;
}
.banner__text,
.banner__icon {
	position: relative;
	z-index: 2;
}
.font-heading {
	font-family: "Josefin Sans", sans-serif !important;
}
.size-42 {
	font-size: 42px !important;
}
.weight-600 {
	font-weight: 600 !important;
}
.mt-10 {
	margin-top: 6rem;
}
.size-22 {
	font-size: 22px !important;
}
.font-body {
	font-family: "Josefin Sans", sans-serif !important;
}
.weight-300 {
	font-weight: 300 !important;
}
.container-section {
	position: relative;
}
.contact-bg {
	background-image: url("../src/assets/images/bannerleft.jpg");
	background-repeat: no-repeat;

	width: 100%;
	background-position: center;
	padding-top: 140px;
	padding-bottom: 100px;
}
.contact-bgright {
	background-image: url("../src/assets/images/bannerright.jpg");
	background-repeat: no-repeat;

	width: 100%;
	background-position: center;
	padding-top: 140px;
	padding-bottom: 198px;
}
.size-32 {
	font-size: 32px !important;
}
.font-heading {
	font-family: "Josefin Sans", sans-serif !important;
}
.size-22 {
	font-size: 22px !important;
}
.btn-link {
	text-decoration: none;
	cursor: pointer;
	outline: none;
	border: none !important;
	background-color: transparent !important;
	border-bottom: 2px solid;
	overflow: visible;
	padding: 0 0 6px;
	font-size: 0.8125rem;
	font-weight: 700;
	color: #000;
	transition: color 0.3s ease, border-color 0.3s ease, opacity 0.3s ease !important;
}
.btn-secondary {
	border: none !important;
	background-color: transparent !important;
}
@media (min-width: 992px) {
	.img-hover-zoom {
		margin-top: 0px;
	}
	.slider-slide > img {
		height: 600px;
	}
}
/* 
#shopify-section-header {
  position: relative;
  z-index: 5;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
} */
